<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="RoleTest.php">./tests/Entities</directory>
            <directory suffix="RoleFormRequestTest.php">./tests/Forms</directory>

            <directory suffix="PermissionTest.php">./tests/Entities</directory>
            <directory suffix="PermissionFormRequestTest.php">./tests/Forms</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="RoleRepositoryTest.php">./tests/Repositories</directory>
            <directory suffix="PermissionRepositoryTest.php">./tests/Repositories</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>

</phpunit>
